# Default reviewers/codeowners for all code changes
* @Chaitanya-Siram @DomanKumar09

# Reviewer by email for html files
*.html test@gmail.com

# Reviewer by organization Team
*.txt  @organizationName/TeamName
