.private-policy-header {
  position: relative;
  height: 13.5rem;
  width: 100%;
  background: url(../../../assets/img/background-hero-new.png);
  background-size: cover;
}

.Policy-head {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.06rem;
  width: 80%;
  margin: auto;
  max-width: 800px;
  padding-top: 7rem;


}

.policy-content-container {
  width: 80%;
  margin: auto;
  max-width: 800px;
  padding: 4rem 0px;
}

.policy-content {
  margin: 0;
  color: #2D2D2D;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.01rem;

}

.policy-heading {
  color: #2D2D2D;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}

.policy-text {
  color: #2D2D2D;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}

@media screen and (max-width: 960px) {

  .private-policy-header {
    height: 12.5rem;
  }

  .policy-content-container {
    width: 85%;
    margin: auto;
    max-width: 800px;
    padding: 2rem 0px;
  }

  .Policy-head {


    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.06rem;
    width: 85%;
    margin: auto;
    max-width: 800px;
    padding-top: 7rem;
  }

  .policy-content {
    color: #2D2D2D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: -0.01rem;


  }

  .policy-text {
    color: #2D2D2D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: -0.01rem;

  }
}