.Footer-Links {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.Footer-Links .nav-link {
    color: #969DA5;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    /* 153.846% */
    letter-spacing: -0.01625rem;
    text-decoration-line: underline;
    cursor: pointer;
}