.feature-details-header {
  position: relative;
  height: 13.5rem;
  width: 100%;
  background: url(../../../assets/img/background-hero-new.png);
  background-size: cover;
}

.feature-details-head {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.06rem;
  width: 80%;
  margin: auto;
  max-width: 800px;
  padding-top: 7rem;
}

.feature-details-content-container {
  width: 80%;
  margin: auto;
  max-width: 800px;
  padding: 4rem 0px;
}

.feature-details-description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #000000;
}

.feature-details-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.feature-head-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #2D2D2D;
  font-weight: 700;
}

.feature-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #2D2D2D;
}

.feature-details-heading {
  color: #2D2D2D;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}

.feature-chips-list {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.feature-chips-list ::-webkit-scrollbar {
  display: none;
}

.feature-chip-acitve {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 24px;
  background: #5F39F8;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-block;
  margin: 0rem 0.2rem;
}

.feature-chip {
  color: #000000;
  display: inline-block;
  margin: 0rem 0.2rem;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 24px;
  background: #EBEBEB;
  padding: 12px 16px;
  cursor: pointer;
}

.feature-details-text {
  color: #2D2D2D;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: -0.01rem;
}


@media screen and (max-width: 960px) {
  .feature-details-head {
    height: 12.5rem;
  }

  .feature-details-content-container {
    width: 85%;
    margin: auto;
    max-width: 800px;
    padding: 2rem 0px;
  }

  .feature-details-head {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.06rem;
    width: 85%;
    margin: auto;
    max-width: 800px;
    padding-top: 7rem;
  }

  .feature-chips-list {
    backdrop-filter: blur(10px);
    width: 95%;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .feature-chips-list ::-webkit-scrollbar {
    display: none;
  }

  .feature-chip-acitve {
    color: #fff;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    border-radius: 24px;
    background: #5F39F8;
    padding: 12px 16px;
    cursor: pointer;
    display: inline-block;
    margin: 0rem 0.2rem;
  }

  .feature-chip {
    color: #000000;
    display: inline-block;
    margin: 0rem 0.2rem;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    border-radius: 24px;
    background: #EBEBEB;
    padding: 12px 16px;
    cursor: pointer;
  }

  .feature-details-content {
    color: #2D2D2D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: -0.01rem;
  }

  .feature-details-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
  }

  .feature-details-text {
    color: #2D2D2D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: -0.01rem;
  }
}