:root {
  --operator-color: #5a42ec;
  --double-quotes-color: #be3b93;
  --grey-color: rgb(209, 213, 220);
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.x.axis > .tick > text,
.y.axis > .tick > text {
  fill: #5c5e60;
  font-size: 0.75rem;
  text-transform: capitalize;
}
.x.axis > .domain,
.y.axis > .domain {
  stroke: #d9dbde;
}

.x.axis > .tick > line:first-child,
.y.axis > .tick > line:first-child {
  display: none;
}

.calendarElement {
  z-index: 500;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
