@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



body,
html {
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


h1 {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 128.571%;
  letter-spacing: -2.24px;
  margin: 0;
}

.App {
  text-align: left;


}

.Request-Demo-Con {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../../../assets/img/background-hero.jpg);
  background-size: cover;
  z-index: 100000;
  overflow-y: scroll;
  scrollbar-width: none;
}

.Request-Demo-Con ::-webkit-scrollbar {
  display: none;
}

.Req-Demo-Modal {
  display: flex;
  width: 440px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09),
    0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09),
    0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  margin: 5% auto;
  transform: translateY(200px);
  opacity: 0;
  animation: demo-load 0.3s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;

}

.form-fields-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Req-demo-success {
  display: flex;
  width: 350px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.08);
  margin: 5% auto;
  transform: translateY(200px);
  opacity: 0;
  animation: demo-load 0.3s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  margin-bottom: 300px;
  margin-top: 80px;
}

span.error-message {
  color: red !important;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 0.5rem 0rem;
}


@keyframes demo-load {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Req-Demo-Modal h2 {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  margin: 0;
}

.Req-Demo-Modal p {
  color: #585858;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

p.success-message {
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
  color: #000 !important;
}

p.req-demo-des {
  color: #585858;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}


p.success-message-text {
  line-height: 1rem;
  font-size: 0.85rem;
  color: #585858 !important;
  text-align: center !important;
  padding: 0rem 3.5rem;
  line-height: 140%;
}

.AMX-from {

  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.Input-col {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Justify-Right {
  justify-content: right;
  margin-top: 1rem;
}

.Input-row {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.AMX-input {
  margin: 0;
  padding: 0;
  height: 44px;
  border-radius: 6px;
  outline: none;
  inset: none;
  box-shadow: none;
  border-radius: 0.5rem;
  border: 1px solid #E2E2E2;
  background: #FFF;
  margin-top: 0.5rem;
  color: #000000;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  padding: 0 0.875rem;

}

.AMX-input::placeholder {
  color: #b4b4b4;
}

.AMX-input:focus {
  border: 1px solid #5F39F8;
  box-shadow: 0px 2px 12px rgb(95, 57, 248, 0.1);
}



.Req-Demo-Modal label {
  color: #585858;
  font-family: Inter;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;

}

.AMX-primary-btn {
  display: flex;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: #5F39F8;
  outline: none;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  padding: 0px 32px;
  transition: all 0.3s;
  cursor: pointer;

}

.AMX-primary-btn:hover {
  background: #5024ff;
}

.AMX-secondary-btn {
  display: flex;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: #ffffff;
  outline: none;
  border: 1px solid #DFDFDF;
  color: #5F39F8;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  padding: 0px 32px;
  cursor: pointer;

}

.select-wrapper {
  font-size: 0.8125rem !important;
  font-family: 'Inter' !important;
  color: #D3D3D3 !important;
  background-color: #ffffff !important;
  font-weight: 500 !important;
}

.option-item {
  font-size: 0.8125rem !important;
  font-family: 'Inter' !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  font-weight: 500 !important;
}

  @media only screen and (min-width: 320px) and (max-width: 767px){

  .Req-Demo-Modal {
    display: flex;
    padding: 32px;
    width: 80%;
    /* max-width: 280px; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
    margin-top: 20%;
    transform: translateY(200px);
    opacity: 0;
    animation: demo-load 0.3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

  .Req-demo-success {
    display: flex;
    max-width: 280px;
    width: 80%;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.08);
    margin: 50% auto;
    transform: translateY(200px);
    opacity: 0;
    animation: demo-load 0.3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

  p.req-demo-des {
    color: #585858;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }

  .Justify-Right {
    margin-top: 2rem;
    justify-content: right;
  }

  .Input-col {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .col-m-reverse{
    flex-direction: column-reverse!important;
    gap:1rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
 
  }

  p.success-message {
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.36px;
    color: #000 !important;
  }

  p.success-message-text {
    line-height: 1rem;
    font-size: 0.85rem;
    color: #585858 !important;
    text-align: center !important;
    padding: 0rem 0.5rem;
    line-height: 140%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px){
  .Req-Demo-Modal {
    display: flex;
    padding: 32px;
    /* width: 50%; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
    margin-top: 10%;
    transform: translateY(200px);
    opacity: 0;
    animation: demo-load 0.3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

}
